.course
{
    .courseFooter
    {
        .c3
        {
            .TagRating
            {
                .StartPattern
                {
                    height: 24px;
                    width: 120px;
                    background-image: url(../img/Starts.png);
                }
                background-color: orange;
                height: 24px;
                vertical-align: middle;
                display: inline-block;
            }
            .TagPrice
            {
                font-size: 20px;
                color: #0084f5;
                width: 190px;
                height: auto;
                vertical-align: middle;
                display: inline-block;
            }
            p{margin: 0px; font-family: RobotoRegular;}
            padding-bottom: 5px;
            padding-left: 15px;
        }

        background-color: #FFFFFF;
        height: 35px;
        width: 340px;
    }

    .courseMain
    {
        .c2
        {
            .TagImageText
            {
                color: #82888a;
                font-size: 13px;
            }
            .TagName
            {
                font-size: 15px;
                margin-bottom: 10px;
            }
            p{padding: 0px; margin: 0px; text-overflow: ellipsis;
                white-space:nowrap;
                overflow-y: hidden;
                overflow-x:hidden;
                font-family: RobotoRegular;
            }
            padding: 40px 10px 10px 10px;
        }
        padding: 10px;
        background-color: #FFFFFF;
        height: 120px;
        width: 320px;
    }

    .courseHeader
    {
        .c1
        {
            .creditBanner{display: inline-block; vertical-align: top; margin: 0px; background-color: rgb(255, 255, 255); padding: 5px 15px; border-radius: 15px; border: 0.4px solid rgb(207, 207, 207); font-family: RobotoRegular; font-size: 12px; color: #82888a;}
            img{width: 70px; height: 70px; padding: 2px 152px 0px 10px; display: inline-block; vertical-align: top;}
            padding: 11px 10px;
        }

        border-bottom: 0.4px solid rgb(207, 207, 207);
        background-color: rgba(217, 222, 226, 0.39);
        height: 50px;
        width: 340px;
    }
    

    border-radius: 4px;
    border: 0.4px solid rgb(207, 207, 207);
    color: black;
    background-color: #FFFFFF;
    display: inline-block;
    text-align: justify;
    height: auto;
    width: 340px;
    padding: 1px;
    margin: 15px;
}

@font-face
{
    font-family: SansSerif;
    src: url('../fonts/SansSerif.TTF');
}

@font-face
{
    font-family: RobotoRegular;
    src: url('../fonts/RobotoRegular.ttf');
}