/* line 1, ../sass/course.scss */
.course {
  font-size: 10px;
  font-family: Arial;
  padding: 10px;
  margin: 4px;
  background-color: red;
  height: 140px;
  width: 200px;
  display: inline-block;
  text-align: justify;
}
/* line 3, ../sass/course.scss */
.course p {
  color: black;
  overflow-y: hidden;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
